@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* Configurações Gerais */

/* Menu Section */

.menu {
    height: 40vh;
    background: url('imgs/cargaProjeto/bg.jpg') no-repeat center center;
    box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    -webkit-box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    -moz-box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    background-size: cover;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    padding-top: 30px;
}

a {
    color: white;
}

.navList img {
    max-width: 150px;
    margin-right: 50px;
}

.serviceTitle {
    margin: 30px;

}

.serviceTitle h1 {
    font-size: 35px;
    font-family: 'Poppins';
    color: white;
}

.serviceTitle h3 {
    font-size: 30px;
    color: white;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.content img {
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.contentText {
    padding: 10px 0;
    font-size: 15px;
    font-family: 'Red Hat Display';
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
}


.photos {
    display: flex;
    gap: 35px;
}

.photos img {
    max-width: 180px;
}

.developer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 20px;
}

.developer span {
    padding: 0 20px;
}

.politiciesPrivacy {
    font-family: 'Poppins';
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

@media (min-width: 1280px) {
    .menu img {
        max-width: 250px;
    }

    .menu {
        background: url('imgs/cargaProjeto/bg.jpg') no-repeat top;
        background-size: cover;
    }

    .content {
        flex-direction: column;
    }

    .content img {
        max-width: 550px;
    }

    .contentText {
        font-size: 20px;
        letter-spacing: 4px;
        padding: 20px 40px;
    }

    .serviceTitle {
        margin-top: -5%;
        margin-left: 15%;
    }

    .navList {
        margin: 0 15%;
    }
    
}



/* Menu Section */
