@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* Configurações Gerais */

/* Menu Section */

.menu {
    height: 40vh;
    background: url('imgs/veiculosBau/bg.jpg') no-repeat center center;
    box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    -webkit-box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    -moz-box-shadow: -17px -2px 111px 66px rgba(0,0,0,0.77) inset;
    background-size: cover;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    padding-top: 30px;
}

a {
    color: white;
}

.navList img {
    max-width: 150px;
    margin-right: 50px;
}

.serviceTitle {
    margin: 50px;

}

.serviceTitle h1 {
    font-size: 40px;
    font-family: 'Poppins';
    color: white;
}

.serviceTitle h3 {
    font-size: 30px;
    color: white;
}

/* Menu Section */

/* Content Section */

.content {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img {
    max-width: 100%;
    max-height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.contentText {
    padding: 25px 0;
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: 300;
    letter-spacing: 2px;
    text-align: justify;
}

.topics ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
}

.topics li {
    padding: 10px;
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: 600;
    list-style-type: circle;

}

.developer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: 300;
    letter-spacing: 2px;
    padding: 20px;
}

.developer span {
    padding: 0 20px;
}

.politiciesPrivacy {
    font-family: 'Poppins';
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

@media (min-width: 999px) {
    .menu img {
        max-width: 250px;
    }

    .content {
        margin: 0 15%;
    }

    .contentText {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        font-size: 25px;
        letter-spacing: 4px;
    }

    .topics {
        margin: 0 15%;
    }

    .topics li {
        padding: 10px;
        font-size: 20px;
    }

    .serviceTitle {
        margin-top: -5%;
        margin-left: 15%;
    }

    .navList {
        margin: 0 15%;
    }

    .developer {
        margin-top: 2%;
    }
}

/* Content Section */